.userCards {
  background: white;
  width: 90%;
  min-height: 123px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  .icon {
    display: block;
    width: 30%;
    position: absolute;
    top: 0;
    img{
      width: 105px;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
    }
  }
  .content {
    display: inline-block;
    background: white;
    padding: 20px;
    padding-left: 115px;
    color: $azul;
    width: 100%;
    .title {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }
  }
  &:hover{
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    min-height: 124px;
    img{
      width: 110px;
    }
  }
}