.custom-modal{
  .modal-dialog{
    width: 70%;
    @media #{$M900} {
      width: 90%;
      top: 10%;
    }
  }
  .modal-content{
    background: transparent;
  }
  .close{
    position: absolute;
    top: -20px;
    right: -50px;
    color: white;
    opacity: 1;
    font-size: 30px;
    @media #{$M900}{
      top: -50px;
      right: -10px;
    }
  }
  .modal-body{
    border-right:0;
  }
}