div#nav-sidebar:hover,
div#nav-sidebar:focus{
  overflow-y:  auto;
}

.close_sidebar {
  display: none;
}
.off-canvas-panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh !important;
  max-height: 100vh !important;
  width: 30% !important;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .2s ease-out, opacity .5s ease-out;
  box-shadow: 0 0 50px 20px rgba(0,0,0,0.1);
  @media #{$M900}{
    width: 100% !important;
    transform: translateX(100%);
  }

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
    z-index: 101;
    background: $rosa;
    color: white;
    .sidebar-content{
      h2{
        text-align: left;
        font-weight: bold;
      }
      .btn-form{
        background: white;
        padding: 8px 25px;
        border: solid 3px $rosa;
        border-radius: 20px;
        font-size: 15px;
        color: $rosa;
        font-weight: bold;
      }
      select{
        color: white;
        option{
          color: $rosa;
          background: rgba(255, 255, 255, 0);
          &:nth-of-type(1){
            color: #7e7e7e;
          }
          &:nth-of-type(2){
            color: $verde;
          }
          &:nth-of-type(3){
            color: $verde;
          }
          &:nth-of-type(4){
            color: $verde;
          }
          &:nth-of-type(5){
            color: $gris-oscuro;
          }
          &:nth-of-type(6){
            color: $gris-oscuro;
          }
          &:nth-of-type(7){
            color: $gris-oscuro;
          }
          &:nth-of-type(8){
            color: $gris-oscuro;
          }
          &:nth-of-type(9){
            color: $gris-oscuro;
          }
          &:nth-of-type(10){
            color: $gris-oscuro;
          }
          &:nth-of-type(11){
            color: $gris-oscuro;
          }
          &:nth-of-type(12){
            color: $gris-oscuro;
          }
          &:nth-of-type(13){
            color: $gris-oscuro;
          }
          &:nth-of-type(14){
            color: $gris-oscuro;
          }
          &:nth-of-type(15){
            color: $amarillo;
          }
          &:nth-of-type(16){
            color: $amarillo;
          }
          &:nth-of-type(17){
            color: $amarillo;
          }
          &:nth-of-type(18){
            color: $amarillo;
          }
          &:nth-of-type(19){
            color: $amarillo;
          }
          &:nth-of-type(20){
            color: $amarillo;
          }
          &:nth-of-type(21){
            color: $amarillo;
          }
          &:nth-of-type(22){
            color: $amarillo;
          }
          &:nth-of-type(23){
            color: $amarillo;
          }
          &:nth-of-type(24){
            color: $rosa;
          }
          &:nth-of-type(25){
            color: $rosa;
          }
          &:nth-of-type(26){
            color: $rosa;
          }
          &:nth-of-type(27){
            color: $rosa;
          }
          &:nth-of-type(28){
            color: $azul;
          }
          &:nth-of-type(29){
            color: $azul;
          }
          &:nth-of-type(30){
            color: $azul;
          }
          &:nth-of-type(31){
            color: $azul;
          }
          &:nth-of-type(32){
            color: $azul;
          }
          &:nth-of-type(33){
            color: $azul;
          }
          &:nth-of-type(34){
            color: $azul;
          }
        }
      }
      .form-control{
        background-color: rgba(255, 255, 255, 0);
        background-image: none;
        border: 1px solid rgba(255, 255, 255, 0);
        border-bottom: 1px solid white;
        border-radius: 0;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }
  }
  .close_sidebar {
    display: inline-block;
    /* position: absolute; */
    z-index: 999;
    /* top: 0; */
    /* right: 0; */
    font-size: 30px;
    /* height: 59px; */
    /* background: #31B573; */
    color: white;
    /* width: 23%; */
    /* padding: 8px 35px; */
    cursor: pointer;
  }

}