footer{
  min-height: 24vh;
  background: $gris;
  z-index: 99;
  width: 95%;
  //width: 100%;
  margin-left: 5%;
  //margin-left: 0;
  padding: 15px 90px;
  @media #{$M900} {
    width: 100%;
    margin-left: 0;//
    margin-bottom: 45px;
  }
  h2{
    font-size: 1.5vw;
    font-weight: bold;
    color: $azul;
    @media #{$M900} {
      font-size: 5.5vw;
    }
  }
  .logo-crc{
    max-width: 75px;
  }
  .logo-ccc{
    max-width: 120px;
  }
  @media #{$M900} {
    padding:20px 45px;
  }
}

@media #{$M900} {
  .logo-responsive-footer {
    margin: 30px 0;
  }
}

.customoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  visibility: hidden;
  &.showoverlay{
    visibility: visible;
  }
}