header{
  position: relative;
  height: 6vw;
  @media #{$M900}{
    height: 20vw;
  }
  .navbar-custom{
    width: 95%;
    //width: 100%;
    height: 100%;
    border: solid 1px white;
    margin-left: 5%;
    //margin-left: 0;
    position: absolute;
    top: 0;
    min-height: 13%;
    border-radius: 0;
    @media #{$M900}{
      width: 100%;
      margin-left: 0;
    }
    .navbar-brand{
      min-height: 80px;
      padding: 12px 25px;
      img{
        max-width: 190px;
        @media #{$M400} {
          max-width: 135px;
        }
      }//img
    }//navbar-brand
    .navbar-nav{
      li{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        @media #{$M900}{
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
        }
        a{
          padding: 5px 25px;
          border: solid 3px $rosa;
          margin-right: 5px;
          border-radius: 20px;
          font-size: 15px;
          color: $rosa;
          font-weight: bold;
          @media #{$M900}{
            padding: 5px 11px;
            border: solid 0 #EB2284;
            margin-right: 0;
            border-radius: 20px;
            font-size: 25px;
            color: #EB2284;
            font-weight: bold;
          }
          &.solid{
            background: $rosa;
            color: white;
          }
        }//a
      }//li
    }//navbar-nav
  }//navbar-custom
  .container_leftnavbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    .__leftnavbar{
      position: fixed;
      display: block;
      width: 100%;
      max-width: 5%;
      background: $verde;
      height: 100vh;
      padding-top: 5.9%;
      @media #{$M900}{
        max-width: 100%;
        height: 7vh;
        bottom: 0;
        padding-top: 0;
      }
      ul{
        margin: 0;
        padding: 0;
        @media #{$M900} {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        li{
          margin: 0;
          padding: 0;
          list-style: none;
          position: relative;
          margin-bottom: 5px;
          &:hover > p{
            visibility: visible;
            width: 300px;
          }
          &:hover > a{
            background: white;
            color: $verde;
            text-decoration: none;
          }
          &.active > a{
            background: white;
            color: $verde;
            text-decoration: none;
          }
          &.active{
            &:hover > p{
              background: white;
              color: $verde;
            }
          }
          @media #{$M900} {
            max-width: 50%;
            margin-bottom: 0;
          }
          a{
            background: transparent;
            width: 100%;
            display: block;
            min-height: 4.9vw;
            padding: 15px;
            text-align: center;
            position: relative;
            z-index: 1;
            font-size: 35px;
            color: white;
            text-decoration: none;
            @media #{$M900} {
              padding: 6px 15px;
            }
          }//a
          p{
            background: $verde;
            color: white;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            min-height: 4.9vw;
            margin: 0;
            padding: 0;
            padding-left: 120%;
            padding-top: 15px;
            text-align: left;
            z-index: 0;
            width: 0;
            -moz-transition: width 0.3s ease-in-out;
            -o-transition: width 0.3s ease-in-out;
            -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
            visibility: hidden;
            @media #{$M900}{
              display: none;
            }
          }//
        }//li
      }//ul
    }//__leftnavbar
  }//container_leftnavbar
}//header