#horizontal-scroll {
  position: relative;
  min-height: 394px;
  .container-custom{
    width: 95%;
    //width: 100%;
    margin-left: 5%;
    //margin-left: 0;
    display: block !important;
    @media #{$M900}{
      width: 100%;
      margin-left: 0;
    }
    .pp-tableCell-custom{
      display: block !important;
      max-height: auto !important;
      height: auto !important;
      overflow-y: hidden;
    }//pp-tableCell-custom
    .banner_home{
      min-height: 63vh;
      background: $azul;
      background-image: url(../images/background-mec.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      @media #{$M900}{
        padding: 15px !important;
      }
    }//banner_home

    .banner_2{
      min-height: 63vh;
      background: $amarillo;
      @media #{$M900}{
        padding: 20px;
        min-height: 100vh;
      }
      .owl-prev{
        position: absolute;
        left: -2%;
        top: 50%;
        transform: translate(-50%, -70%);
        color: $azul;
        font-size: 4rem;
        &:hover{
          background: transparent;
        }
      }
      .owl-next{
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translate(-50%, -70%);
        color: $azul;
        font-size: 4rem;
        &:hover{
          background: transparent;
        }
      }

      .cifras{
        i{
          color: $azul;
          font-size: 10rem;
        }
        p {
          &.num{
            color: $azul;
            font-weight: bold;
            font-size: 5rem;
            margin: 5px 0 0 0;
            line-height: 1;
          }
          &.title {
            color: $azul;
            font-weight: bold;
            font-size: 3rem;
            margin: 0 0 0 0;
            line-height: 1;
          }
        }
      }

      .text-registro{
        p{
          font-size: 4rem;
          color: $azul;
          margin: 30px;
        }
      }

    }//banner_2

    .banner_3{
      min-height: 76vh;
      background: white;
      @media #{$M900}{
        background: $azul;
        padding: 30px;
        #list-espacios-responsive{
          padding: 0;
          margin: 0;
          list-style: none;
          width: 100%;
          text-align: center;
          color: white;
          border-bottom: solid 1px white;
          margin-bottom: 30px;
          li{
            width: 100%;
            text-align: center;
            color: white;
            border-bottom: solid 1px white;
            margin-bottom: 30px;
            .icon-verde{
              background-image: url(../images/punto_verde.svg);
              background-size: cover;
              width: 50px;
              height: 55px;
              display: block;
              margin: 0 auto;
            }
            .icon-rosa{
              background-image: url(../images/punto_rosado.svg);
              background-size: cover;
              width: 50px;
              height: 55px;
              display: block;
              margin: 0 auto;
            }
          }
        }
        .close-espacios{
          color: white;
          position: absolute;
          font-size: 3rem;//
          left: -20px;
          top: 10px;
        }
      }
      .mapa{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        position: relative;
        #list-espacios{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            position: absolute;
            .icon-verde{
              background-image: url(../images/punto_verde.svg);
              background-size: cover;
              width: 50px;
              height: 55px;
              display: block;
            }
            .icon-rosa{
              background-image: url(../images/punto_rosado.svg);
              background-size: cover;
              width: 60px;
              height: 65px;
              display: block;
            }
            &:nth-of-type(1){
              top: 45%;
              left: 45%;
              z-index: 10;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(2){
              top: 36%;
              left: 47%;
              z-index: 9;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(3){
              top: 15%;
              left: 52%;
              z-index: 8;
              transform: translate(-50%, -50%);
              display: none;
            }
            &:nth-of-type(4){
              top: 35%;
              left: 53%;
              z-index: 7;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(5){
              top: 60%;
              left: 63%;
              z-index: 6;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(6){
              top: 57%;
              left: 46%;
              z-index: 5;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(7){
              top: 50%;
              left: 50%;
              z-index: 4;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(8){
              top: 47%;
              left: 55%;
              z-index: 3;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .content-espacios{
        background: $rosa;
        padding: 20px;
        position: relative;
        @media #{$M900}{
          background: transparent;
          max-height: 0 !important;
          position: absolute;
          width: 0;
          padding: 0;
          height: 0 !important;
          min-height: 0 !important;
        }
        #espacio1,#espacio2,#espacio3,#espacio4,#espacio5,#espacio6,#espacio7,#espacio8{
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          transform: translateX(100%);
          transition: transform .2s ease-out, opacity .5s ease-out;
          &.is-visible {
            opacity: 1;
            transform: translateX(0);
            z-index: 999;
            background: $rosa;
            color: white;
            visibility: visible;
          }
          .btn-espacios{
            border: solid 1px white;
            color: white;
            padding: 5px 20px;
            border-radius: 45px;
            margin-bottom: 15px;
          }
          @media #{$M900}{
            position: fixed;
            height: 100vh;
          }
        }
      }
    }

    .banner_4{
      min-height: 20vh;
      background: $gris;
    }

  }//container-custom
}//horizontal-scroll

@import "cardsProject";