@import "variableIcomec";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wytcfg');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wytcfg#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wytcfg') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wytcfg') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wytcfg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mec-"], [class*=" mec-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mec-mesa-de-trabajo {
  &:before {
    content: $mec-mesa-de-trabajo;
    color: #213b8f;
  }
}
.mec-paneles {
  &:before {
    content: $mec-paneles;
    color: #213b8f;
  }
}
.mec-talleres {
  &:before {
    content: $mec-talleres;
    color: #213b8f;
  }
}
.mec-actividades {
  &:before {
    content: $mec-actividades;
    color: #213b8f;
  }
}
.mec-aliado {
  &:before {
    content: $mec-aliado;
    color: #213b8f;
  }
}
.mec-charlas {
  &:before {
    content: $mec-charlas;
    color: #213b8f;
  }
}
.mec-emprendimiento {
  &:before {
    content: $mec-emprendimiento;
    color: #213b8f;
  }
}
.mec-firmas-moda {
  &:before {
    content: $mec-firmas-moda;
    color: #213b8f;
  }
}
.mec-punto_rosado .path1 {
  &:before {
    content: $mec-punto_rosado-path1;
    color: rgb(65, 67, 73);
    opacity: 0.23;
  }
}
.mec-punto_rosado .path2 {
  &:before {
    content: $mec-punto_rosado-path2;
    margin-left: -0.94140625em;
    color: rgb(255, 255, 255);
  }
}
.mec-punto_rosado .path3 {
  &:before {
    content: $mec-punto_rosado-path3;
    margin-left: -0.94140625em;
    color: rgb(235, 29, 133);
  }
}
.mec-punto_verde .path1 {
  &:before {
    content: $mec-punto_verde-path1;
    color: rgb(65, 67, 73);
    opacity: 0.23;
  }
}
.mec-punto_verde .path2 {
  &:before {
    content: $mec-punto_verde-path2;
    margin-left: -0.9091796875em;
    color: rgb(255, 255, 255);
  }
}
.mec-punto_verde .path3 {
  &:before {
    content: $mec-punto_verde-path3;
    margin-left: -0.9091796875em;
    color: rgb(44, 182, 116);
  }
}
.mec-cifras-peliculas {
  &:before {
    content: $mec-cifras-peliculas;
  }
}
.mec-cifras-speakers {
  &:before {
    content: $mec-cifras-speakers;
  }
}
.mec-cifras-artistas {
  &:before {
    content: $mec-cifras-artistas;
  }
}
.mec-cifras-bandas {
  &:before {
    content: $mec-cifras-bandas;
  }
}
.mec-ico-descripcion {
  &:before {
    content: $mec-ico-descripcion;
  }
}
.mec-ico-espacios {
  &:before {
    content: $mec-ico-espacios;
  }
}
.mec-ico-resultados {
  &:before {
    content: $mec-ico-resultados;
  }
}
.mec-ico-sectores {
  &:before {
    content: $mec-ico-sectores;
  }
}
.mec-ico-video {
  &:before {
    content: $mec-ico-video;
  }
}

