$icomoon-font-family: "icomec" !default;
$icomoon-font-path: "/wp-content/themes/themeMEC/assets/fonts/icomec/" !default;

$mec-mesa-de-trabajo: "\e90f";
$mec-paneles: "\e910";
$mec-talleres: "\e911";
$mec-actividades: "\e912";
$mec-aliado: "\e913";
$mec-charlas: "\e914";//
$mec-emprendimiento: "\e915";
$mec-firmas-moda: "\e916";
$mec-punto_rosado-path1: "\e909";
$mec-punto_rosado-path2: "\e90a";
$mec-punto_rosado-path3: "\e90b";
$mec-punto_verde-path1: "\e90c";
$mec-punto_verde-path2: "\e90d";
$mec-punto_verde-path3: "\e90e";
$mec-cifras-peliculas: "\e905";
$mec-cifras-speakers: "\e906";
$mec-cifras-artistas: "\e907";
$mec-cifras-bandas: "\e908";
$mec-ico-descripcion: "\e900";
$mec-ico-espacios: "\e901";
$mec-ico-resultados: "\e902";
$mec-ico-sectores: "\e903";
$mec-ico-video: "\e904";