// colors

$color-1: #5b927d; // Patina
$color-2: #a8ae7e; // Swamp Green
$color-3: #e7d5a4; // Zombie
$color-4: #835531; // Potters Clay
$color-5: #262423; // Dune
$color-6: #ffffff; // White

$verde: #2bbe58;
$verde2: #31b675;
$rosa: #ec1c85;
$amarillo: #fde03e;
$amarillo2: #fed133;
$gris: #F1F1F1;
$gris2: #818285;
$gris-oscuro: #555555;
$azul: #213b8f;

// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// Number of projects 

$items: 5;