@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html,body,p,a,h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
}

html,body{
  overflow: auto;
}

/*COLORS*/
$verde: #2bbe58;
$rosa: #ec1c85;
$amarillo: #fde03e;
$gris: #F1F1F1;
$gris-oscuro: #555555;
$azul: #213b8f;

@media screen and (max-width: 900px){
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/*SHADOWs*/

.shadow-0{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.shadow-1{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);//
}
.shadow-2{
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.border-bottom {
  border-bottom: solid 1px white;
}

/*MEDIA QUERYS*/
$M1440 : "screen and (max-width : 1440px)" !default;
$M1366:  "screen and (max-width : 1366px)" !default;
$M1280:  "screen and (max-width : 1280px)" !default;
$M1024:  "screen and (max-width : 1024px)" !default;
$M991:  "screen and (max-width : 991px)" !default;
$M900:  "screen and (max-width : 900px)" !default;
$M768:  "screen and (max-width : 768px)" !default;
$M500:  "screen and (max-width : 500px)" !default;
$M400:  "screen and (max-width : 400px)" !default;
$m1024:  "screen and (min-width : 1024px)" !default;

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right, all); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {

    @if $side == 'all' {
      .m#{$space} {
        margin: #{$space}px;
      }

      .p#{$space} {
        padding: #{$space}px;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$side}: #{$space}px;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}

@mixin center($horizontal: true, $vertical: true) {
  /*
  both
    @include center;
  horizontal
    @include center(true, false);
  vertical
    @include center(false, true);
  */
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media #{$M900} {
  .hide-on-m-and-t{
    display: none !important;
  }
}
@media #{$M500} {
  .hide-on-m{
    display: none !important;
  }
}

@media #{$m1024} {
  .hide-on-d{
    display: none !important;
  }
}